<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <h3> Test GCP Invalidation </h3>
  </div>

  <ul>
    <li> Host on GCloud : Done</li>
    <li> Routing over GCloud : </li>
    <li> Configure over CDN : </li>
    <li> Routing over CDN : </li>

  </ul>
  <div>
    <div (click)="goTo('')"> Home </div>
    <div (click)="goTo('route1')"> Route One </div>
    <div (click)="goTo('route2')"> Route Two </div>
    <div (click)="goTo('route3')"> Route three </div>
  </div>
</div>

<router-outlet></router-outlet>
